<%- include('partials/_header')-%>

  <body>

    <% if(!user) { %>
      <div class="container">
        <h1 class="title">Welcome to auth</h1>
        <div class="girl-bro">
          <img src="/images/girl-bro.png" alt="">
        </div>
        <div class="btn-group">
          <a href="/login" class="btn login">Log in</a>
          <a href="/register" class="btn register">Register</a>
        </div>
        <span>Are you really not a register yet? 😢</span>
      </div>
      <% } %>


   <% if(user) { %>
     <div class="container">
       <h1 class="title">Welcome to auth</h1>
        <div class="girl-bro">
            <img src="/images/girl-bro.png" alt="">
          </div>
          <div class="btn-group">
            <a href="/users/dashboard" class="btn login">Dashboard</a>
            <a href="/users/logout" class="btn register">Log out</a>
          </div>
           
        </div>
          <% } %>
  </body>

  </html>