.container {
    position: relative;
    margin-top: 25px;
    padding: 20px;
}
.title {
    text-align: center;
    font-size: 48px;
}
.girl-bro {
    max-width: 600px;
    margin: auto;
}
.btn-group {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.btn {
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #5CA4A9;
    transition: all .25s ease-in-out;
    border: 1px solid #5CA4A9;
    margin: 5px;
}
.btn:hover {
    color: #5CA4A9;
    background-color: #fff;
}
.btn-group ~ span {
    display: block;
    text-align: center;
    font-size: 14px;
}
.list-btn {
    justify-content: center;
}
.err-block {
    max-width: 500px;
    margin: 5px auto;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.err-msg {
    font-size: 16px;
    font-weight: 700;
    color: red;
}
